---
title: moisesnandres
---
-#
-# .index
-#   .construction-image= image_tag 'under_construction.png'

.home.me
  .me
    .me__photo= image_tag 'me.jpg', class: 'circle'
    %h1.me__name Moisés Ñañez
    %p.me__description Frontend developer at devAcademy and musician.
  %ul.me__social__networks
    %li
      = link_to 'https://github.com/moisesnandres', target: 'blank' do
        %i.fa.fa-github{"aria-hidden" => "true"}
        %h4 GitHub
    %li
      = link_to 'https://www.linkedin.com/in/moisesnandres/', target: 'blank' do
        %i.fa.fa-linkedin{"aria-hidden" => "true"}
        %h4 LinkedIn
    %li
      = link_to 'https://medium.com/@moisesnandres', target: 'blank' do
        %i.fa.fa-medium{"aria-hidden" => "true"}
        %h4 Medium
    %li
      = link_to 'https://twitter.com/moisesnandres', target: 'blank' do
        %i.fa.fa-twitter{"aria-hidden" => "true"}
        %h4 Twitter
    %li
      = link_to 'https://www.youtube.com/c/Moises%C3%91a%C3%B1ez', target: 'blank' do
        %i.fa.fa-youtube-play{"aria-hidden" => "true"}
        %h4 YouTube
    %li
      = link_to 'https://instagram.com/moisesnandres', target: 'blank' do
        %i.fa.fa-instagram{"aria-hidden" => "true"}
        %h4 Instagram
